  .container{
    display: flex;
    font-weight: bold;
  }
  
  .main-container{
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/gray-gradient.png');
    background-size: cover;
  }

  .left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .weightBold{
    font-weight: bolder;
  }
  
  .mt20{
    margin-top: 20px;
  }

  .mt10{
    margin-top: 10px;
  }
  
  .SignupBtn{
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    border: none;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .right-side {
    border-radius: 40px 0px 0px 40px;
    background-color: rgb(53, 53, 53);
    color: white;
    height: 100%;
  }
  
  .rounded-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; 
    padding: 5px 10px;
    width: 300px;
    height: 30px;
  }
  
  .seperater{
    width: 125px;
    height: 2px;
    margin-right: 10px;
    border: none;
  }
  
  .Icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: none;
  }
  
  .GIcon{
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 4px 10px;
    margin-right: 20px;
    font-weight: bold;
  }
  