.feed-container {
    padding: 40px;
    background-image: url('../../../assets/gray-gradient.png');

}

.feed-header {
    margin-bottom: 20px;
}


.posts-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns for large screens */
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

/* Laptop screens (usually 1024px to 1440px) */
@media (max-width: 1440px) {
    .posts-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columns for smaller laptops */
    }
}

/* Tablet screens (usually 768px to 1023px) */
@media (max-width: 1023px) {
    .posts-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for tablets */
    }
}

/* Smaller tablet screens (around 600px to 767px) */
@media (max-width: 767px) {
    .posts-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller tablets */
    }
}

/* Mobile screens (usually less than 600px) */
@media (max-width: 599px) {
    .posts-grid {
        grid-template-columns: 1fr; /* 1 column for mobile screens */
    }
}


.bookmark-header .back-button {
    background: none;
    border: none;
    color: #007bff;  /* Bootstrap primary blue, adjust as needed */
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.bookmark-header .back-button i {
    margin-right: 5px; /* space between icon and text */
}
