.feed-container {
    padding: 40px;
    background-image: url('../../../assets/gray-gradient.png');

}

.feed-header {
    margin-bottom: 20px;
}


.posts-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
}


@media (max-width: 1440px) {
    .posts-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media (max-width: 1023px) {
    .posts-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 767px) {
    .posts-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 599px) {
    .posts-grid {
        grid-template-columns: 1fr;
    }
}


