
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
}

.BackgroundImg {
    background-image: url('../../../../assets/sea-green2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-brand {
    margin-left: 25px;
    display: flex;
    align-items: center;
    color: white;
}

.navbar-brand img {
    margin-right: 1px;
}


.form-control {
    min-width: 600px;
}


.nav-link {
    margin: 0 15px;
    color: white;
}

.nav-item {
    display: flex;
    align-items: center;
}

.navbar-search {
    width: 70%;
    max-width: 300px;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .navbar-collapse form {
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
    }
}


.navbar-logo {
    height: auto;
    width: auto;
    max-width: 80px;
}


.navbar-toggler {
    margin-left: auto;
}

.fa-search {
    font-size: 1.5rem;
}

@media (max-width: 991px) {

    .navbar-search {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: 100%;
    }

    .form-control {
        min-width: 0;
    }

    .navbar-collapse {
        flex-grow: 0;
    }

    .navbar .nav-link {
        padding-left: 0;
    }
}

