<div class='title-line'>
    <div class="author">
        <img class="thumbnail" src="assets/images.jpeg">
        <p>Becki Jia</p>
    </div>

    <div class="data">
        <div class="data-posts">
            <p>1,234</p>
            <p style="font-weight: bold">Posts</p>
        </div>

        <div class="data-posts">
            <p>5,678</p>
            <p style="font-weight: bold">Followers</p>
        </div>

        <div class="data-posts">
            <p>9,101</p>
            <p style="font-weight: bold">Following</p>
        </div>

    </div>

    <div class="buttons">
        <button class="btn btn-dark btn-lg">
            <a routerLink="/bookmarks" routerLinkActive="active">
                <i class="fa fa-bookmark"></i>
            </a>
        </button>
        <button class="btn btn-primary btn-lg" (click)="openModal()">+</button>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let post of posts">
            <app-post-card [post]="post"></app-post-card>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal" id="addModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <p class="modal-title">Add A New Post</p>
                <form class="modal-form">
                    <label for="postTitle" class="input-label">Title</label>
                    <input
                        type="text"
                        id="postTitle"
                        class="input-field"
                        placeholder="Enter your title"
                        [(ngModel)]="postTitle"
                        [ngModelOptions]="{standalone: true}"
                    />

                    <label for="postDescription" class="input-label"
                    >Description</label
                    >
                    <textarea
                        id="postDescription"
                        class="input-field"
                        placeholder="Enter your description"
                        [(ngModel)]="postDescription"
                        [ngModelOptions]="{standalone: true}"
                    ></textarea>

                    <div class="file-upload-container">
                        <label for="fileUpload" class="file-upload-label">
                            Choose a file
                            <input
                                type="file"
                                id="fileUpload"
                                class="file-upload-input"
                                (change)="onFileSelected($event)"
                                multiple
                            />
                        </label>
                        <span id="file-chosen">{{fileChosenText}}</span>
                    </div>

                    <div class="modal-buttons">
                        <button type="button" class="submit-btn" (click)="submitAndCloseModal()">Submit</button>
                        <button
                            type="button"
                            class="cancel-btn"
                            (click)="closeModal($event, true)"
                        >
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
