<div class="post-card">
    <div class="post-image">
        <img src="path-to-image" alt="Post Image"/>
    </div>
    <div class="post-content">
        <div class="post-stats">
            <span><i class="fa fa-comment"></i> 12</span>
            <span><i class="fa fa-retweet"></i> 5</span>
            <span><i class="fa fa-heart"></i> 66</span>
            <span><i class="fa fa-upload"></i></span>
        </div>
        <h3 class="post-title">{{post.title}}</h3>
        <p class="post-description">{{post.content}}</p>
    </div>
</div>
