.post-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 0.3s;
}

.post-image img {
    width: 100%;
    height: auto;
}

#postModal {
    background-color: #00000029;
}

.modal-body {
    display: flex;
}

.modal-content {
    padding: 0px;
}

.post-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-stats {
    font-size: 0.9em;
    font-weight: 300;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    gap: 12px;
    /*justify-content: space-between;*/
}

.post-stats span {
    margin-right: 10px;
}

.post-title {
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: 500;
    color: #182135;
}

.post-user {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 1px;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Adds space between tags */
}

.post-tags span {
    background-color: #f0f0f0;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 0.85em;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between cards */
}

.card {
    width: 250px; /* Width of the card */
    height: 300px; /* Height of the card */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-image {
    width: 100%; /* Full width of the card */
    height: 150px; /* Fixed height for images */
    object-fit: cover; /* Ensures images cover the area, are cropped to fit */
    background-color: #f0f0f0;
}

.card-content {
    padding: 10px;
    flex-grow: 1; /* Takes up remaining space */
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
