<div class="container">
    <!-- Left side -->
    <div class="main-container">
        <div class="left-side">
            <h1 class="weightBold">Welcome back!</h1>
            <h2>Enter your Credentials to access accounts</h2>

            <div>
                <form class="mt20">
                    <span>
                        <div>Username:</div>
                        <input
                            type="text"
                            id="username"
                            placeholder=" "
                            class="rounded-input"
                            required
                            [(ngModel)]="username"
                            [ngModelOptions]="{standalone: true}"
                        />
                    </span>

                    <div class="mt20">
                        <div>Password:</div>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            class="rounded-input"
                            required
                            [(ngModel)]="password"
                            [ngModelOptions]="{standalone: true}"
                        />
                    </div>

                    <!-- show error on incorrect username/password -->
                    <div *ngIf="error" class="error mt20" style="color: crimson">
                        <p>Incorrect username or password</p>
                    </div>

                    <div class="mt20" style="padding-top: 15px">
                        <button class="loginBtn" (click)="doLogin()">Login</button>
                    </div>


                </form>
            </div>



            <div style="padding-top: 20px">
                Don’t have an account? <a routerLink="/register" routerLinkActive="active">Register</a>
            </div>
        </div>
    </div>

    <!-- Right side -->
    <div
        class="right-side"
        style="
            flex: 1;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 40px 0px 0px 40px;
            background-image: url('../../../assets/sea-green.png');
            background-size: cover;
            color: white;
            z-index: 50;
            margin-left: -40px;
        "
    >
        <h2>Welcome to We</h2>
        <p>lore, lispum</p>
        <img
            src="../../../assets/we-main.png"
            style="height: 250px; width: 250px"
        />
    </div>
</div>
