<div class="container">

    <!-- Left side -->
    <div class="main-container">
      <div class="left-side">
        <h1 class="weightBold">Get Started Now</h1>

        <div>
          <form class="mt20">

            <span>
              <div>Name:</div>
              <input type="text" id="name" placeholder=" " class="rounded-input" required>
            </span>

            <div class="mt20">
              <div>Email Address:</div>
              <input type="text" id="username" placeholder=" " class="rounded-input" required>
            </div>

            <div class="mt20">
              <div>Password:</div>
              <input type="password" id="" name="password" class="rounded-input" required>
            </div>

            <div style="padding-top: 15px;" class="mt20">
              <button type="submit" class="SignupBtn">SignUp</button>
            </div>

            <div>
              <label style="margin-top: 25px;">
                <input type="checkbox" id="remember_me_checkbox" name="remember_me" style="margin-right: 10px;">
                <span style="font-weight: normal;">  I agree to the <a href="./terms">terms & policy</a></span>
            </label>
            </div>

          </form>
        </div>

        <div style="margin: 50px 0px; ">
          <img src="../../../assets/Line.png"  class="seperater">
          OR
          <img src="../../../assets/Line.png" class="seperater">
        </div>

        <div style="margin-top: 8px;">
          <button class="GIcon">
            <img src="../../../assets/GLogo.png" alt="Google Icon" class="Icon">
            Sign in with Google
        </button>

        <button style="background-color: white; color: black; border: none; border-radius: 10px; padding: 4px 10px;font-weight: bold;">
          <img src="../../../assets/appleLogo.png" alt="Apple Icon" class="Icon">
          Sign in with Apple
      </button>
      </div>

      <div style="padding-top: 20px;">
        Have an account? <a href="./login">Sign In</a>
      </div>

      </div>

    </div>

    <!-- Right side -->
    <div class="right-side" style="flex: 1; height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;border-radius: 40px 0px 0px 40px;
    background-image: url('../../../assets/sea-green.png'); background-size: cover;
    color: white; z-index: 50; margin-left: -40px;">
      <h2>Welcome to We</h2>
      <p>lore, lispum</p>
      <img src="../../../assets/we-main.png" style="height: 250px;width: 250px;">
    </div>
  </div>
